*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #191919;
}

/* HEADER */

header {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  background-image: url(../imgs/M.svg);
  background-position: 600px;
  background-repeat: repeat-y;
}

/*   NAVIGATION  */

.nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
}

nav {
  display: flex;
  max-width: 80%;
  margin-inline: auto;
  padding-block: 1.5em;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 10em;
}

nav a {
  padding-inline: 0.5em;
  text-decoration: none;
  color: #191919;
  font-size: 1em;
  font-weight: 400;
}

nav button {
  border: none;
  background-color: #191919;
  color: white;
  padding: 0.8em 1.2em;
  border-radius: 2em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

/* NAVBAR ON SCROLL */

.nav-white {
  background-color: #ffff;
  transition: background-color 300ms linear;
}

.green-button {
  background-color: #1a8917;
  transition: background-color 300ms linear;
}

/*   INTRODUCTION TO THE PAGE */

.intro-container {
  height: 10%;
  width: 80%;
  margin-inline: auto;
  padding-top: 3em;
}

.title {
  font-size: 6.3em;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  line-height: 1em;
  padding-top: 0.5em;
  letter-spacing: -3px;
}

.subtitle {
  font-size: 1.6em;
  max-width: 45%;
  margin-top: 1;
}

.intro-container button {
  padding: 0.6em 2em;
  border-radius: 2em;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 4.5em;
  border: none;
  background-color: #191919;
  cursor: pointer;
}

/* MAIN CONTENT */

/* TRENDING LIST */

.trending-title {
  width: 80%;
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1em;
  padding-left: 2em;
  margin-top: 3em;
}

.trending-title img {
  vertical-align: middle;
  margin-right: 1em;
}

#trending-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2%;
  max-width: 80%;
  margin-inline: auto;
}

.trending-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
  width: 33%;
}

.trending-number {
  font-size: 1.8em;
  color: #e6e7e7;
  font-weight: 900;
  padding: 0 0.6em;
}

.author img {
  border-radius: 50px;
  margin-right: 0.5em;
  width: 1.8em;
  vertical-align: middle;
}

.author {
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding-top: 0.2em;
}

.author span {
  color: #737782;
}

h3 {
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.posting-date {
  color: #737782;
  font-size: 0.8em;
  font-weight: 400;
}

/* POSTS  */

section {
  border-top: 1px solid #e6e7e7;
}

#maincontent-container {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 5em;
  gap: 4em;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: flex-start;
}

.posts-container .single-post:last-child {
  margin-bottom: 4em;
}

.post-content {
  width: 100%;
}

.single-post {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100%;
}

.image-container {
  max-width: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

h2 {
  font-size: 1.4em;
  font-weight: 900;
  margin-bottom: -0.1em;
}

.post-text {
  color: #737782;
  font-size: 0.9em;
  font-weight: 400;
}

.posting-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posting-date img {
  max-height: 40px;
  vertical-align: middle;
}

.posting-details img {
  max-height: 40px;
}

button.post-tags {
  background-color: #f2f3f3;
  color: #737782;
  border-radius: 1em;
  font-weight: 400;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
  border: none;
  padding: 0.5em;
}

/*   DISCOVER */

.discover-container {
  max-width: 35%;
  gap: 0.5em;
}

.discover-container h3 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.8em;
  width: 100%;
}

button.tags {
  background-color: white;
  border: 1px solid #e6e7e7;
  color: #737782;
  border-radius: 8px;
  font-weight: 400;
  padding: 0.8em 1.2em;
  font-size: 0.7em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
  margin: 0.5em;
}

.more-links {
  margin-top: 1em;
  border-top: 1px solid #e6e7e7;
  padding-top: 1em;
}

.more-links a {
  text-decoration: none;
  color: #737782;
  font-size: 0.7em;
  padding: 1em;
  line-height: 3em;
}

/* MEDIA QUERIES */

/* FOR LARGE DESKTOPS */

@media screen and (min-width: 1200px) {
  header {
    background-position: right;
  }
}

/* FOR MEDIUM DEVICES */

@media screen and (max-width: 992px) {
  body {
    font-size: 90%;
  }

  nav {
    max-width: 90%;
    font-size: 0.9em;
  }

  header {
    background-position: 500px;
  }

  .intro-container {
    width: 90%;
  }

  .title {
    font-size: 6em;
  }

  .subtitle {
    font-size: 1.3em;
    max-width: 50%;
  }

  .trending-title {
    width: 90%;
  }

  #trending-container {
    max-width: 90%;
  }

  .trending-item {
    width: 50%;
  }

  #maincontent-container {
    flex-direction: column;
    width: 90%;
    margin-top: 3em;
  }

  .discover-container {
    max-width: 100%;
    order: -1;
  }
}

/* FOR MOBILE */

@media screen and (max-width: 600px) {
  header {
    background-image: none;
  }

  .links-container {
    position: relative;
    width: 50%;
  }

  nav a:nth-child(1),
  .links-container :nth-child(2),
  .links-container :nth-child(3) {
    opacity: 0%;
  }

  nav a:nth-child(4) {
    order: -1;
    position: fixed;
    font-size: 1em;
    top: 23px;
    right: 28%;
  }

  nav a:nth-child(5) {
    order: -1;
    font-size: 1em;
    padding: 0;
    position: fixed;
    top: 15px;
    right: 5%;
  }

  .title {
    font-size: 5.5em;
  }

  .subtitle {
    font-size: 1.2em;
    max-width: 60%;
  }

  #trending-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .trending-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
    width: 100%;
  }
}
